name: Compile and push client and server to staging environment

on:
  push:
    branches: ["dev"]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Workflow triggered!"