name: Testing frontend

on: 
  pull_request:
    paths: ['frontend/**']

jobs:
  tests-front:
    name: Test frontend
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./frontend
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node_version: 20
      - name: Install dependencies
        run: npm ci
      - name: Run Jest
        run: npm run test